.card-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card{
    border-radius: 10px;
    padding: 15px;
    width: 320px;
    box-shadow: 0 2px 8px black;
}

.image{
    width: 300px;
}

.rating{
    font-size: 15px;
}

.sales{
    font-size: 15px;
    color: #555555;
}

.price{
    font-weight: bold;
    font-size: 25px;
}

.sup{
    font-size: 14px;
    vertical-align: super;
}

.delivery{
    color: #555;
    font-size: 14px;
    margin-bottom: 16px;
}

button{
    background-color: #ffd814;
    border: 1px solid #ffd814;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
